deploy_staging:
  stage: deploy
  image: coxauto/aws-ebcli
  script:
    - eb init moresneakers-api -r $AWS_REGION -p node.js
    - eb use  moresneakers-api-staging
    - eb deploy moresneakers-api-staging
  environment:
    name: staging
  only:
    - staging

deploy_prod:
  stage: deploy
  image: coxauto/aws-ebcli
  script:
    - eb init moresneakers-api -r $AWS_REGION -p node.js
    - eb use  moresneakers-api-prod
    - eb deploy moresneakers-api-prod
  environment:
    name: prod
  only:
    - master
